.weather-card {
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.weather-info {
    margin-top: 10px;
}

.temperature, .description {
    font-size: 18px;
}

.no-info {
    margin-top: 10px;
    text-align: center;
    color: #ccc;
    font-style: italic;
}